@import "tailwindcss";

@layer base {
  button,
  a[href] {
    @apply cursor-pointer;
  }

  input,
  textarea,
  select {
    @apply p-2 text-sm rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-brand-blue;
  }
}

@theme {
  --color-brand-yellow: #FFE74C;
  --color-brand-yellow-light: #FFF9C4;
  --color-brand-yellow-dark: #C9B94B;

  --color-brand-red: #FF5964;
  --color-brand-red-light: #FF8A99;
  --color-brand-red-dark: #C92B3B;

  --color-brand-white: #F7F7F8;
  --color-brand-white-light: #FFFFFF;
  --color-brand-white-dark: #E0E0E0;

  --color-brand-navy: #38618C;
  --color-brand-navy-light: #5C7BA7;
  --color-brand-navy-dark: #22314A;

  --color-brand-blue: #35A7FF;
  --color-brand-blue-light: #8ED6FF;
  --color-brand-blue-dark: #2176AE;
}

html {
  scroll-behavior: smooth !important;
}
